:root{
    --color-text-white: #fff;
    --color-text-lightgray: #b3b3b3;
    --background-gray: #121212;
}


@import "assets/styles/reset";
@import "assets/styles/nav";

*{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

body{
    background-color: #000;
}